.chatContainer::-webkit-scrollbar {
    width: 5px;
    background: white;
}

html::-webkit-scrollbar {
    width: 5px;
    background: white;
}

body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: lightcyan;
}
header {
    background: #009688;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* Add this line */
    transition: background 0.3s ease-in-out;
}

header a {
    padding-left: 5px;
    text-decoration: none;
    color: unset;
    font-size: 20px;
}

header a:hover {
    color: aqua;
}

header .menu {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}

header .menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header .menu a:hover {
    color: black;
}

header .search-bar {
    flex: 1;
    /* margin-right: 20px; */
    max-width: 300px; /* Add this line */
}

header .search-bar input {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

header .site-info-sec {
    display: flex;
    align-items: center;
}

header .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

header .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .site-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .site-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}


header .search-bar {
    flex: 1;
    /* margin-right: 20px; */
}

header .search-bar input {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

header .search-bar button {
    margin: unset;
}

header .dropdown {
    position: relative;
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #36f4f4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    min-width: 160px;
    padding: 8px 0;
}

header .dropdown:hover .dropdown-content {
    display: block;
}

header .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    margin: unset;
}

header .dropdown-content a:hover {
    background-color: white;
    color: black;
}

nav {
    background-color: #00968833;
    padding: 10px;
    width: 200px;
    float: left;
    min-height: 400px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

nav .profile {
    margin-bottom: 20px;
}

nav .profile img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

nav .profile h4 {
    margin: 10px 0 5px;
    font-size: 20px;
}

nav .profile p {
    color: #777;
}

nav a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    background-color: #009688;
    border-radius: 5px;
    position: relative;
}

nav a span {
    background-color: #F44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

nav a:hover {
    background-color: black;
}


nav b {
    display: inline;
    border-radius: 5px;
    margin-left: 5px;    
    color: gray;
}

section {
    margin-left: 220px;
    padding: 20px;
}


.login-box {
    max-width: 400px;
    margin: 50px auto;
    background: #26a69a;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box a{
    text-decoration: none;
}
.login-box div.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    text-align: left;
    font-size: 0.9em;
    margin-top: 8px;
}
.panel-heading {
    background: #00796B;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.save-msg {
    margin-top: 20px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: none;
    background: #FF5722;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.panel-body {
    padding: 30px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-group span {
    margin-right: 10px;
}

.form-control {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.btn-info {
    background: #00796B;
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-reg {
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 45px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-info:hover {
    background: #005a4e;
}

.btn-reg:hover {
    background: black;
}

.form-group {
    margin-bottom: 8px;
    text-align: left;
    font-size: 0.9em;
    margin-top: 8px;
}

.tiles {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 22px;
    color: white;
}

.tile {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.tile:nth-child(1) {
    background-color: #ff8c00; 
}

.tile:nth-child(2) {
    background-color: #4caf50;
}

.tile:nth-child(3) {
    background-color: #2196f3; 
}

.tile:hover {
    transform: scale(1.05);
}


.card {
    background-color: #00968833;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card.panel-card {
    padding: 4px;
    padding-bottom: 20px;
}

.card .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.card div.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.card label {
    margin-top: 10px;
}

.card input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.card select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.card .edit {
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card .delete {
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card .edit {
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}
.card a {
    text-decoration: none;
}
.card div.add{
    
    display:flex;
    justify-content: right;
}

.card p {
    /* margin-top: 10px; */
    text-align: center;
}



.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #FDD835; 
}

tr:nth-child(odd) {
    background-color: #fff68f; 
}

td .actions {
    display: flex;
    gap: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.chat {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat form {
    max-width: unset;
}
.chatContainer {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 314px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatContainer div {
    padding: 8px;
    margin:2px;
    background: antiquewhite;
    border-radius: 5px;
    
}

.chatContainer strong {
    margin-left: 2px;
    margin-right: 8px;
}

.emoji-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emoji-buttons button {
    background: white;
    font-size: 20px;
    margin: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
.developer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.developer-section {
    border: 1px dashed #009688;
    border-radius: 10px;
    flex: 0 1 calc(25% - 20px); 
    text-align: center;
    padding-top: 24px;
    margin-bottom: 20px; 
}

.developer-section img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-icons li {
    margin: 0 10px; 
}

.social-icons img {
    width: 40px; 
    height: 40px; 
    display: block;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2); 
}

.social-icons img:not(:hover) {
    transform: scale(1);
}

.main-developer {
    padding: 10px;
    text-align: center;
    border-color: red;
}

.main-developer img.cover {
    border: 4px solid #F44336;
}

.main-developer h4 {
    color: #00BCD4;
}

.Administrator {
    color: Blue;
    font-weight: bold;
}
.Admin {
    color: Red;
    font-weight: italic;
}
.User {
    color: Green;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.movie {
    width: 150px;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

.movie:hover {
    transform: scale(1.1);
}


.panel-heading {
    background: #00796B;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    header, footer {
        width: 100%;
    }
    header .search-bar {
        max-width: unset;
    }
    .movie {
        width: 120px;
    }
    .tiles {
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        font-size: 15px;
    }
    .tile {
        flex: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-right: 0px;
        transition: transform 0.3s ease;
    }
    nav {
        width: 100%;
        float: none;
        min-height: 50px;
        text-align: left;
        overflow: hidden;
    }
    nav a{
        display: inline-block;
        padding: 8px;
        font-size: 12px;
        margin-top: 4px;
    }
    
    nav a span {
        padding: 2px 5px;
        border-radius: 5px;
        position: unset;
        margin-left: 6px;
        font-size: 10px;        
    }
    nav .profile {
        max-width: 150px;
        float: left;
        margin: 5px 10px 0px 0px;
        text-align: center;
    }
    nav .profile img {
        width: 60px;
        height: 60px;
    }
    nav .profile h4 {
        font-size: 15px;
    }
    nav .profile p {
        font-size: smaller;
    }

    section {
        margin-left: 0;
    }
    .chat {
        margin-left: 0;
        margin-right: 0;
    }
    .chatContainer {
        font-size: 10px;
    }
    .developer-container {
        margin-top: 10px;
    }

    .developer-section {
        font-size: 10px;
        flex: 0 1 calc(35% - 10px);
        margin-bottom: 10px;
        padding: 6px;
    }

    .developer-section img {
        width: 30px;
        height: 30px;
    }

    .developer-section h4{
        margin: 0px 0px 0px 0px;
        font-size: 10px;
    }

    .social-icons {
        margin-top: 5px;
    }

    .social-icons li {
        margin: 0 5px;
    }

    .social-icons img {
        width: 15px;
        height: 15px;
    }

    .main-developer {
        padding: 5px;
        font-size: 8px;
    }

    .main-developer img.cover {
        border: 2px solid #F44336;
    }


}
